VITE_begin = false
VITE_APP_PORT = 5173
VITE_MONGOAPI_KEY = ''
VITE_MONGODB_CREDENTIALS = 'mongodb://'
VITE_MONGODB_PORT = 27017
VITE_MONGODB_APIURL = 'http://localhost:5000/api/data'
VITE_MONGODB_APIPORT = 5000
VITE_EXPRESSAPI_PORT = 3000
VITE_EXPRESSAPI_URL = 'http://localhost:3000/'
VITE_NASAAPI_KEY = ''
VITE_NODEMAILER_SMTPHOST = ''
VITE_NODEMAILER_SMTPPORT = 
VITE_NODEMAILER_GOOGLEMAIL = ''
VITE_NODEMAILER_GOOGLEAPPPASSWORD = ''
VITE_END = true